{{!< default}}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">应急辅助决策系统后台操作屏模拟</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://picsum.photos/300/300/?image=41" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="margin-top: 10px">地震专题</h5>
                    <p class="card-text">地震专题的专有布局</p>
                    <button onclick="pushEvent('eventEq')" class="btn btn-primary">大屏推送</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://picsum.photos/300/300/?image=42" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="margin-top: 10px">台风专题</h5>
                    <p class="card-text">台风专题的专有布局</p>
                    <button onclick="pushEvent('eventTyphoon')" class="btn btn-primary">大屏推送</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://picsum.photos/300/300/?image=43" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="margin-top: 10px">洪涝专题</h5>
                    <p class="card-text">洪涝专题的专有布局</p>
                    <button onclick="pushEvent('eventFlood')" class="btn btn-primary">大屏推送</button>
                </div>
            </div>
        </div>
    </div>

</div>